.App {
  text-align: center;
}

.controls {
  text-align: center;
}

.change-btn {
  outline: none;
  padding: 1em 2em;
  background-color: #b2c8d4;
  color: black;
  font-size: 2em;
  border: 0;
  transition: background-color .3s, box-shadow .1s;
  cursor: pointer;
  border-radius: .3em;
  margin: 0 1em;
}

.change-btn:hover {
  background-color: #71afd1;
}

.change-btn:active {
  box-shadow: 0 0 10px gray;
}

.ball {
  --size: 3em;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  font-size: 3em;
  font-weight: bold;
  margin: 1em;
  color: rgb(77,77,77);
  border-radius: 50%;
  box-shadow: 0 1em 2em gainsboro;
  background: radial-gradient(transparent, #b2c8d4);
}

.balls-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

@media (max-width: 750px) {
  body {
    font-size: .8em;
  }

  .ball {
    margin: .5em;
  }
}
